.textContainer span {
  color: var(--color1);
}
.textContainer h2 {
  margin-bottom: 1rem;
}
.gifContainer {
  width: 100vw;
}
.gifContainer img {
  width: 90%;
}

.findContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.findContainer p {
  font-weight: 600;
}

.findContainer div {
  border: 2px solid var(--primary);
  border-radius: 50px;
  padding: 10px 20px;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 400px) {
  .container {
    margin: 10vh 5vw;
  }
}

@media screen and (min-width: 600px) {
  .textContainer h2 {
    text-align: center;
  }
  .gifContainer {
    margin: auto;
  }
}

@media screen and (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gifContainer {
    width: 40vw;
    grid-column: 1;
    grid-row: 1;
  }

  .textContainer {
    grid-column: 2;
    grid-row: 1;
  }

  .findContainer {
    grid-column: 2;
  }

  .findContainer div {
    width: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    margin: 10vh 15vw 0 15vw;
  }
  .findContainer {
    grid-row: 1;
    justify-content: end;
  }
}

@media screen and (min-width: 1250px) {
  .gifContainer {
    width: 35vw;
  }
  .textContainer {
    grid-row: 1;
    justify-content: start;
  }
}

@media screen and (min-width: 1400px) {
  .gifContainer {
    width: 30vw;
  }
}

@media screen and (min-width: 1700px) {
  .container {
    margin: 10vh 20vw 0 20vw;
  }
  .gifContainer {
    width: 25vw;
  }
}
