


.textContainer span {
    color: var(--primary);
  }
  .textContainer h2 {
    margin-bottom: 1rem;
  }

  .textWrapper{
    display: grid;
    grid-template-columns: 1fr ;
    
}

.textWrapper div{
    display:grid;
    grid-template-columns: 1fr 5fr;
    align-items:start
    }
    .numbers {
        margin:0
        }


  .numbers span{
text-decoration: none;
  }


  .videoContainer{
  width: 90vw;
    display:grid;
  
  }
  .videoContainer video{
    width: 70%;
    justify-self: center;
   
  
    }
  
    .findContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .findContainer p {
      font-weight: 600;
    }
  
    .findContainer div {
      border: 2px solid var(--primary);
  border-radius: 50px;
  padding: 10px 20px;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
    }
    
    
  
  @media screen and (min-width: 400px){
  
    .container{
      margin: 10vh 5vw
  }
  }
  
  @media screen and (min-width: 600px){
   
    .textContainer h2 {
      text-align: center;
    }
    .videoContainer {
      margin: auto
    }
  }
  
  @media screen and (min-width: 800px){
  
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 1fr;
      margin: 20vh 15vw 20vh 15vw;
    }
  
    .videoContainer {
      width: 40vw;
      grid-column: 2;
      grid-row:1/-1;
      margin-top:0;
      align-self: start;
    }
  
    .textContainer{
      grid-column: 1;
      grid-row: 1;
      align-self: start;
    }
  
    .findContainer{
      grid-column: 1;
      grid-row: 2;
      align-self: start;
    }
  
    .findContainer div{
      width: 50%
    }
  }
  
  
  @media screen and (min-width: 1100px){
    .container{
      margin: 10vh 15vw 0 15vw
  }
  .container {
    grid-template-rows: 2fr 1fr 1fr;
  }
    
  }
  
  @media screen and (min-width: 1250px){
   
    .videoContainer {
      width:35vw;
    }
 
  }
  
  @media screen and (min-width: 1400px){
    .videoContainer {
      width:30vw;
    }
  }
  
  @media screen and (min-width: 1700px){
    .container{
      margin: 10vh 20vw 0 20vw
  }
    .videoContainer {
      width:25vw;
    }
  }