.container {
    display:grid;
    grid-gap: 2em
}

.container img{
    grid-row: 2;
    max-width: 90%;
    transform: scaleX(-1);
    margin:auto
}

.container h2 span {
    color: var(--color2)
}

.cta{
    margin: auto; 
    border-radius: 50px;
    padding: 10px 20px;
    width: 90vw;
    height: 50px;
    font-size: 0.8em;
    color:white ;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    background-color: var(--primary);
    display: flex; 
    justify-content: center;
    align-items: center;
    }

    @media screen and (min-width: 400px){
      
        .container {
          margin: 0 5vw 15vh 5vw
        }
      
         
      }
      
      @media screen and (min-width: 600px){
        .container {
          margin: 0  15vw 10vh 15vw
        }
        .cta{
          
          width: 150px; 
          height: 40px
          }
         
      }
      
      @media screen and (min-width: 800px){
      
        .container {
          grid-template-columns: 1fr 1fr;
        }    

        .container img {
            grid-column: 1;
            grid-row: 1;
            width:100%;
        }

        .button {
            grid-column: 2;
            grid-row: 2;
            margin: 0;
            padding:0;
        }
        .cta {
          margin: 0;
      
      }
        
        
      }
      
      @media screen and (min-width: 970px){
        .container {
          margin: 0 10vw 10vh 10vw
        }

        .textContainer{
            grid-column: 2;
            grid-row: 1;
            align-self: start;
        }

        .button{
            grid-column: 2;
            grid-row: 1;
        align-self: end;
        }
      }
      
      @media screen and (min-width: 1350px){
        .container {
          margin: 0 15vw 15vh 15vw;
        }
        .container img {
            grid-column: 1;
            grid-row: 1;
            width:70%;
        }
      }
      
      @media screen and (min-width: 1600px){
        .container {
          margin: 0 20vw 15vh 20vw;
        }
      }