.container{
    width:107%;
    background-color: var(--secondary-bg);
    margin: 10vh 0 0 0;
    padding: 3em 1em;
    font-size: 14px;
    display:grid;
    grid-gap: 5em;
}

.container h3{
    text-transform: uppercase;
    font-weight: 600;
    margin:0
}

.container input{
    border: solid 1px var(--primary);
    border-radius: 10px;
    padding: 0.8em;
    color: #888888;
    margin-bottom: 0.5em;
    width: 90%
}

.consent{
    font-size: 14px;
}

.consent span{
 text-decoration: underline;
}

.cta{
    border-radius: 50px;
    border-color: transparent;
    padding: 10px 20px;
    width: 150px;
    font-size: 1em;
    color:white ;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    background-color: var(--primary);
    margin:auto

    }

.contact {
 display:flex;
 flex-direction: column;
 align-items: center;
}

.contact h3{
    margin:0
}

.some {
    display:flex;
    flex-direction: column;
    align-items: center;
   
   }

.icons {
    display:flex;
    flex-direction: row ;
    gap: 1em;
    margin: 1em 0;
}

.legal{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.separator{
    height: 14px;
    border-left: 1px solid black;
}


.legal p{
    font-size: 14px;
}

@media screen and (min-width: 600px){
    .container{
        display:grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-gap: 2em;
    }

    .newsletter{
        grid-column:3 ;
        grid-row:1;
    }

    .contact{
        grid-column:1 ;
        grid-row:1;
        align-self: start;
        
    }

    .some{
        grid-column:2 ;
        grid-row:1;
        align-self: start;
    }

    .legal {
        grid-column:1/3;
        grid-row: 2;
        align-self: start ;
    }
    .cta{
        margin:0
    }
}

@media screen and (min-width: 800px){
    .container{
        width:100%;
       
    }
    .container input{        
        width: 60%;
        
    }
   
}

@media screen and (min-width: 1200px){
    .container{
        padding:10em 7em 5em 7em;
     }

}

@media screen and (min-width: 1500px){
    .legal {
        grid-column:1/2;
    }
}

