.container p,
.container h1 {
  text-align: center;
}
.container h1 {
  color: var(--primary);
  font-family: "Indie Flower", cursive;
}

.container {
  display: grid;
  height: 100vh;
  align-content: stretch;
}

.container p {
  margin: 0 1rem 1rem;
}

.wrapperDesktop {
  display: grid;
}
.img {
  justify-self: center;

  margin-top: 3rem;
}

.inputWrapper {
  display: grid;
}
.container h2 {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  /* width: 80%; */
  justify-self: center;
}
.specialTextInput {
  margin: 0;
  border-color: var(--primary);
  border-radius: 10px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  width: 100%;
}

.textInput {
  border-color: var(--primary);
  border-radius: 10px;
  padding: 0.8rem 1rem;
  margin: 1rem 0 3rem;
  font-size: 1rem;
  justify-self: center;
  width: 90%;
}

.answersWrapper {
  padding: 0 1.5rem;
}

.range {
  display: flex;
  flex-direction: column;
}
.range label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.findResults {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin: 0;
}
.findResults p {
  margin: 0 15px 0 0;
}

.finalResultContainer p {
  margin: 0 0.8rem;
}
.finalResultContainer p:nth-child(1) {
  text-align: left;
}

.imageCheckbox {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--primary);

  font-weight: 300;
}
.preferencesCheckbox {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.875rem;
  gap: 0.6rem;
}
.preferencesCheckbox .wrapper {
  padding: 0.5rem 0.5rem;
  text-align: center;
}
.preferencesCheckbox .imageLabel {
  margin-right: 1px;
}

.imageCheckbox input {
  -webkit-appearance: none;
  appearance: none;
}

.imageCheckbox li {
  position: relative;
  justify-content: center;
  grid-template-columns: initial;
}

.imageCheckbox label {
  grid-area: 1 / 1;
  cursor: pointer;
}

.imageCheckbox input:not(:checked) ~ label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 10px;

  border: 1px solid var(--primary);
  z-index: 1;
}
.imageCheckbox input:checked ~ label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 10px;
  border: 3px solid var(--primary);
}

.imageCheckbox input:checked ~ .wrapper {
  font-weight: bold;
}
.imageCheckbox .wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  place-items: center;
  width: 100%;
}

.imageLabel {
  margin-right: 10px;
}

.container button {
  align-self: end;
}

.nurseriesContainer {
  margin: 1rem;
  color: rgba(136, 136, 136, 1);
}
.nurseriesContainer a {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  grid-gap: 1rem;
  margin: 1rem 0 1rem 0;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1rem;
}
.nurseriesContainer a:first-of-type {
  margin-top: 0;
}
.nurseriesContainer p {
  font-weight: 400;
}
.nurseryInfoWrapper {
  grid-gap: 0.5rem;
  display: grid;
}
.nurseryInfoWrapper p {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  margin: 0;

  font-size: 0.7rem;
}
.nurseryInfoWrapper p:nth-child(2) {
  display: initial;
}
.nurseryInfoWrapper p span {
  margin-right: 4px;
}

.resultWrapper {
  padding: 0 1rem;
}
.resultWrapper p {
  margin-left: 0;
}
.resultWrapper li {
  align-items: center;
}
.resultWrapper li span {
  margin-right: 0.5rem;
}

.customizedRadioBtn {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 15px;
  height: 15px;
  background-image: url("/./images/quizIcons/radio.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.customizedRadioBtn:checked {
  background-image: url("/./images/quizIcons/radioChecked.png");
}

.customizedCheckboxBtn {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 18px;
  height: 18px;
  background-image: url("/./images/quizIcons/Checkbox.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.customizedCheckboxBtn:checked {
  background-image: url("/./images/quizIcons/CheckboxChecked.png");
}

.customizedRange {
  appearance: none;
  background-image: url("/./images/quizIcons/range.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.progressBar {
  display: grid;
  grid-template-columns: 1fr max-content 1fr max-content 1fr max-content 1fr;
  align-items: center;
  max-width: max-content;
  margin: 0 auto;

  margin-top: 1rem;
}

.barImage {
  margin-bottom: 22px;
}

.progressBarBg {
  margin: 0 auto;
  width: 300px;
  height: 10px;
  background-color: #f6f6f6;
  border-radius: 10px;
}

.progressBarFill {
  height: 10px;
  background-color: var(--color1);
  border-radius: 10px 0 0 10px;
}

@media screen and (max-width: 370px) {
  .preferencesCheckbox {
    font-size: 0.7rem;
    gap: 0.5rem;
  }
  .answersWrapper {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .progressBar {
    width: 800px;
    max-width: none;

    justify-items: center;
  }
  .wrapperDesktop {
    width: 800px;
    display: grid;
    grid-template-columns: max-content 1fr;
    margin: 0 auto;
    gap: 3rem;
    padding-top: 1rem;
    align-items: center;
    margin-top: 2rem;
  }
  .img {
    margin-top: 0;
  }
  .container h2 {
    text-align: left;
  }
  .answersWrapper {
    padding: 0;
  }
  .container {
    width: 820px;
    margin: 0 auto;
    align-content: center;
    height: auto;
  }
  .arrowBack {
    margin-right: 50px;
  }
  .progressBarWrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
  }
  .progressBarBg {
    width: 800px;
    margin-top: 0.5rem;
  }

  .progressBarFill {
    height: 10px;
    background-color: var(--color1);
    border-radius: 10px 0 0 10px;
  }
  .wrapperStart {
    place-items: center;
    text-align: left;
  }
  .wrapperStart h1,
  .wrapperStart p {
    text-align: left;
    margin-left: 0;
  }
  .wrapperStart h1 {
    font-size: 3.12rem;
    margin-bottom: 1rem;
  }
  .wrapperStart p {
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
  .startText {
    display: grid;
  }
  .preferencesCheckbox .wrapper {
    padding: 0.5rem 1rem;
    width: max-content;
  }
  .resultWrapper {
    display: grid;
  }
  .resultWrapper ul {
    gap: 0.5rem;
  }
  .finalResultWrapper {
    align-items: start;
    font-size: 0.93rem;
  }
  .finalResultWrapper h1 {
    font-size: 2.75rem;
  }
  .inputWrapper {
    display: initial;
  }
  .nurseriesDesktop {
    width: 800px;
    display: grid;
    justify-content: center;
  }
  .nurseriesContainer {
    display: grid;
    justify-content: center;
  }
  .resultNumberWrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
  }
}
