@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@100;300;400;700;900&display=swap");
:root {
  --primary: rgba(108, 6, 209, 1);
  --secondary-btn: rgba(241, 242, 243, 1);
  --color1: rgba(255, 173, 9, 1);
  --color2: rgba(255, 114, 185, 1);
  --color3: rgba(57, 180, 249, 1);
  --secondary-bg: rgba(229, 229, 229, 0.21);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  margin: 0 0.5rem;
}

h2 span {
  font-family: "Indie Flower", cursive;
  text-decoration: underline;
  padding-left: 0.5rem;
  text-decoration-color: black;
  font-weight: 400;
}

h2 {
  font-size: 2.44rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
}
p {
  font-size: 1rem;
  font-weight: 300;
}

.container {
  margin: 10rem;
}

button {
  width: 100%;
  padding: 20px 10px;
  background-color: var(--primary);
  color: white;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  border-radius: 50px;
  margin-top: 1.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: grid;
  place-items: center;
}
button:disabled {
  opacity: 0.2;
}

ul {
  padding: 0;
  display: grid;
  gap: 0.8rem;
}

li {
  list-style: none;
  display: grid;
  grid-template-columns: max-content 1fr;
}

label {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}

input {
  accent-color: var(--primary);
  border-color: var(--primary);
}
